<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>集美大学 | 食品与生物工程学院</title>
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/jquery.dialogbox.css')}}" >
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery-1.7.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery.uniform.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery.dialogBox.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/general.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/tables.js')}}"></script>
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">科研成果统计软件</span>

            
            <br clear="all" />
            
        </div><!--left-->
        
        <div class="right">
            <div class="userinfo">
                <span style="color: #FB9337;">欢迎!</span>
                <span style="color: #FB9337;">{{username}} 老师</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
                
                <div class="userdata">
                    <h4>{{username}}</h4>
                    <span class="email">{{userid}}</span>
                    <ul>
                        <li><a href="/tec/editprofile">编辑资料</a></li>
                        <li><a href="/tec/editpassword">修改密码</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
    
    
    <div class="header">
    	<ul class="headermenu">
    		<li><a href="dashboard.html"><span class="icon icon-flatscreen"></span>首页</a></li>
        	<li ><a href="forms.html"><span class="icon icon-pencil"></span>论文录入</a></li>
            <li class="current"><a href="tables.htmu"><span class="icon icon-chart"></span>论文列表</a></li>
        </ul>
        
        
    </div><!--header-->
        
    <div>
    
        
        <div>
<div class="tableoptions">
                	<button class="deletebutton">删除</button> &nbsp;
                	<button class="detailbutton">详情</button> &nbsp;
                	<button class="editbutton">编辑</button> &nbsp;
                	<button class="addmulti">批量导入</button> &nbsp;
                	<span style="float:right">
                	<select class="pattern">
					    <option value="专著">专著</option>
					    <option value="论文集">论文集</option>
					    <option value="学位论文">学位论文</option>
					    <option value="报告">报告</option>
					    <option value="期刊文章">期刊文章</option>
					    <option value="论文集中的析出文献">论文集中的析出文献</option>
					    <option value="报纸文章">报纸文章</option>
					    <option value="国际、国家标准">国际、国家标准</option>
					    <option value="专利">专利</option>
					    <option value="电子文献">电子文献</option>
					    <option value="各种未定义类型的文献">各种未定义类型的文献</option>
					</select> 
					<button class="exportbutton_execl">导出execl</button> &nbsp;
                	<button class="exportbutton_txt">导出txt</button> &nbsp;
                	</span>
               </div><!--tableoptions-->
               <div id="dialogBox"></div> 
				 <table cellpadding="0" cellspacing="0" border="0"class="stdtable stdtablecb" id="example">
                    <colgroup>
                        <col class="con0" style="width: 45px"/>
                        <col class="con1" />
                        <col class="con0" />
                    </colgroup>
                    <thead>
                        <tr>
                        	<th class="head0 nosort" align="center">
                        		<input type="checkbox" class="checkall" />
                        	</th>
                        	<th>编号</th>
                            <th class="head1">论文名称</th>
                            <th class="head0">论文类别</th>
                        </tr>
                    </thead>
                 </table>
              
                <br /><br />
  
        </div><!--contentwrapper-->
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->
</body>
</html>
