<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>集美大学 | 食品与生物工程学院</title>
<link rel="icon" href="data:;base64,=">
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" > 
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/flatpickr.min.css')}}" > 
<script type="text/javascript" src=" {{ url_for('static',filename='js/jquery-1.7.min.js')}}"></script>  
<script type="text/javascript" src=" {{ url_for('static',filename='js/flatpickr.min.js')}}"></script> 
<script type="text/javascript" src=" {{ url_for('static',filename='js/general.js')}}"></script> 
<script type="text/javascript" src=" {{ url_for('static',filename='js/custom.js')}}"></script>
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">食品与生物工程学院研究生科研成果管理系统</span>
            
            <br clear="all" />
            
         </div><!--left-->
        
        <div class="right">
            <div class="userinfo">
                <span style="color: #FB9337;">欢迎!</span>
                <span style="color: #FB9337;">{{username}} 同学</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
                
                <div class="userdata">
                    <h4>{{username}}</h4>
                    <span class="email">&nbsp;{{userid}}</span>
                    <ul>
                        <li><a href="/stu/editprofile">编辑资料</a></li>
                        <li><a href="/stu/editpassword">修改密码</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
<div class="header">
        <ul class="headermenu">
            <li><a href="/stu/forms"><span class="icon icon-pencil"></span>论文录入</a></li>
            <li><a href="/stu/tables"><span class="icon icon-chart"></span>论文列表</a></li>
       </ul>
    </div><!--header-->

<div  class="subcontent">
                    <form name="form_edit" class="stdform" >   
                        <input type="hidden" name="tag" value="monograph" />
                        <p>
                            <small class="desc">专著名称</small>
                            <label>中文名称</label>
                            <span class="field">
                                <input type="text" name="publicationNameCH" class="mediuminput" placeholder = {{resultset[0]['publicationNameCH']}}>
                                <img src="{{ url_for('static', filename= '../static/images/star.png')}}" class="monograph"/>
                                
                            </span>
                            <label>英文名称</label>
                            <span class="field">
                            	<input type="text" name="publicationNameEN" class="mediuminput" placeholder = {{resultset[0]['publicationNameEN']}} >
                            </span>
                            
                        </p>
                         <p>
                            <label>作者</label>
                            <span class="field">
                            	<input type="text" name="editor" class="smallinput" placeholder = {{resultset[0]['editor']}}>
                            </span>
						</p>
						 <p>	
                            <label>作者类型</label>
                            <span class="formwrapper">
								<input type="hidden" id="editType_hid" value={{resultset[0]['editType']}}/>
                                <input type="radio" name="editType" value="主编"/> 主编 &nbsp; &nbsp;
                                <input type="radio" name="editType" value="副主编" /> 副主编 &nbsp; &nbsp;
                                <input type="radio" name="editType" value="参编人员" checked="checked"/> 参编人员 &nbsp; &nbsp;
                            </span>
                        </p>
                        
                        <p>
                            <label>出版时间</label>
                            <span class="field">
								<input class="flatpickr" data-date-format="Y-m-d" name="pubTime" placeholder={{resultset[0]['pubTime']}}>
								<!-- <input type="date" name="pubTime" placeholder = {{resultset[0]['pubTime']}} > -->
							</span>
                        </p>
                        
                        <p>
                            <label>出版单位</label>
                            <span class="field">
                                <input type="text" name="pubUnit" class="mediuminput" placeholder = {{resultset[0]['pubUnit']}} >
                                
                                <img src="{{ url_for('static', filename= '../static/images/star.png')}}" class="monograph"/>
                            </span>
                        </p>
                        <p>
                            <label>ISSN</label>
                            <span class="field">
                                <input type="text" name="ISSN"  class="mediuminput" placeholder = {{resultset[0]['ISSN']}} >
                                <img src="{{ url_for('static', filename= '../static/images/star.png')}}" class="monograph"/>
                            </span>
                        </p>
                       
                        <p>
                            <label>完成字数</label>
                            <span class="field"><input type="text" name="wordsNum" class="miniinput" placeholder = {{resultset[0]['wordsNum']}} >&nbsp;字数</span>
                          
                       </p>
                       <p>
                            <label>主要编写内容</label>
                            <span class="field">
                                <textarea cols="80" rows="5" class="longinput" name="mainContent" placeholder = {{resultset[0]['mainContent']}}></textarea>
                            </span> 
                        </p>
         
                        <p class="stdformbutton">
                            <button type="button"  class="submit radius2">保存</button>
                        </p>
                    </form>

            </div><!--subcontent-->

    </div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
 
</html>