<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>集美大学 | 食品与生物工程学院</title>
<link rel="icon" href="data:;base64,=">
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" > 
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery-1.7.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/general.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/calendar.js')}}"></script> 
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">食品与生物工程学院研究生科研成果管理系统</span>
            
            <br clear="all" />
            
         </div><!--left-->
        
        <div class="right">
            <div class="userinfo">
                <span style="color: #FB9337;">欢迎!</span>
                <span style="color: #FB9337;">{{username}} 老师</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
                
                <div class="userdata">
                    <h4>{{username}}</h4> 
                    <ul>
                        <li><a href="/tec/editprofile">编辑资料</a></li>
                        <li><a href="/tec/editpassword">修改密码</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
<div class="header">
        <ul class="headermenu"> 
             <li ><a href="/tec/forms"><span class="icon icon-pencil"></span>论文录入</a></li>
             <li ><a href="/tec/tables"><span class="icon icon-chart"></span>论文列表</a></li>
        </ul>
    </div><!--header-->

        
         <div  class="subcontent">
            <form class="stdform" name="form_edit">   
             <input type="hidden" name="tag" value="patent" /> 
                         <p>
                             <small class="desc">专利名称</small>
                             <label>中文名称</label>
                             <span class="field">
                                 <input type="text" name="patentNameCH" class="mediuminput" placeholder={{resultset[0]['patentNameCH']}} >
                                 <img src="{{ url_for('static', filename= '../static/images/star.png')}}" class="patent"/>
                             </span>
                             <label>英文名称</label>
                             <span class="field"><input type="text" name="patentNameEN" class="mediuminput" placeholder={{resultset[0]['patentNameEN']}}></span> 
                         </p>
                         <p>
                             <label>专利类型</label>
                             <span class="formwrapper">
            					<input type="hidden" id="patentType_hid" value={{resultset[0]['patentType']}}/>
                                 <input type="radio" name="patentType" value="发明专利" checked="checked"/> 发明专利 &nbsp; &nbsp;
                                 <input type="radio" name="patentType" value="实用新型专利" /> 实用新型专利 &nbsp; &nbsp;
                                 <input type="radio" name="patentType" value="外观设计专利"/> 外观设计专利 &nbsp; &nbsp;
                             </span>
                         </p> 
                         <p>
                             <small class="desc">发明人署名</small>
                             <label>第一发明人</label>
                             <span class="field">
                                 <input type="text" name="firstEdit" class="smallinput" placeholder={{resultset[0]['FirstEdit']}} >
                           
                             </span>
                         </p>
                         <p>
                             <label>第二发明人</label>
                             <span class="field">
                                 <input type="text"  name="secondEdit" class="smallinput" placeholder={{resultset[0]['SecondEdit']}}>
                                
                             </span>
                         </p>
                         <p>
                             <label>第三发明人</label>
                             <span class="field">
                                 <input type="text"  name="thirdEdit" class="smallinput" placeholder={{resultset[0]['ThirdEdit']}}>
                                 
                             </span>
                         </p>
                         <p>
                             <label>第四发明人</label>
                             <span class="field">
                                 <input type="text" name="fourthEdit" class="smallinput" placeholder={{resultset[0]['ForthEdit']}} >
                                 
                             </span>
                         </p>
                         <p>
                             <label>第五发明人</label>
                             <span class="field">
                                 <input type="text"  name="fifthEdit" class="smallinput" placeholder={{resultset[0]['FifthEdit']}}>
                                 
                             </span>
                         </p>
                         <p>
                             <label>第六发明人</label>
                             <span class="field">
                                 <input type="text"  name="sixthEdit" class="smallinput" placeholder={{resultset[0]['SixthEdit']}}>
                                 
                             </span>
                         </p>
                         <p>
                             <label>第七发明人</label>
                             <span class="field">
                                 <input type="text" name="servenEdit" class="smallinput" placeholder={{resultset[0]['SeventhEdit']}}>
                                 
                             </span>
                         </p>
                         <p>
                             <label>第八发明人</label>
                             <span class="field">
                                 <input type="text" name="eightEdit" class="smallinput" placeholder={{resultset[0]['EighthEdit']}}>
                                 
                             </span>
                         </p>
                         <p>
                             <label>专利申请时间</label>
                             <span class="field">
            								<!-- <input type="date" placeholder={{resultset[0]['patentApplyTime']}} name="patentApplyTime" /> -->
            								<input name="patentApplyTime" type="text" placeholder={{resultset[0]['patentApplyTime']}} class="smallinput"  onFocus="setday(this);"    readonly>
            							</span>
                         </p>
                         <p>
                             <label>专利号</label>
                             <span class="field">
                                 <input type="text" name="patentNum" class="mediuminput" placeholder={{resultset[0]['patentNum']}} >
                                 <img src="{{ url_for('static', filename= '../static/images/star.png')}}" class="patent"/>
                             </span>
                         </p>
                         <p>
                         <label>是否授权</label>
                             <span class="formwrapper">
            					<input type="hidden" id="ifAuthority_hid" value={{resultset[0]['ifAuthority']}} /> 
                                 <input type="radio" name="ifAuthority" value="是" /> 是 &nbsp; &nbsp;
                                 <input type="radio" name="ifAuthority" value="否" checked="checked"  /> 否 &nbsp; &nbsp;
                             </span>
                         </p>
            						<p id="authorize_time"style="display:none" >
                         <label>专利授权时间</label>
                            <span class="field">
            					<!-- <input type="date" name="patentAuthorityTime" placeholder={{resultset[0]['patentAuthorityTime']}}/> -->
            					<input name="patentAuthorityTime" type="text"   class="smallinput"  onFocus="setday(this);" placeholder={{resultset[0]['patentAuthorityTime']}}   readonly>
            				</span>
                         </p>                      
                         <p>
                             <label>是否转让</label>
                             <span class="formwrapper">
            					<input type="hidden" id="ifTransfer_hid" value={{resultset[0]['ifTransfer']}} /> 
                                <input type="radio" name="ifTransfer" value="是"/> 是 &nbsp; &nbsp;
                                <input type="radio" name="ifTransfer" value="否"checked="checked"/> 否 &nbsp; &nbsp;
                             </span>
                         </p>
                         <div id="transfer_info" style="display:none" >
                             <p>
                                 <label>转让单位</label>
                                 <span class="field"><input type="text" name="transferSource" class="longinput" placeholder={{resultset[0]['transferSource']}}></span>
                             </p>
                             <p>
                                 <label>转让应用情况</label>
                                 <span class="field">
                                     <textarea cols="80" rows="5" class="longinput" name="transferComment" placeholder={{resultset[0]['transferComment']}}></textarea>
                                 </span> 
                             </p>
            						</div>  	
                   		<p class="stdformbutton">
                             <button type="button"  class="submit radius2">保存</button>
                         </p>
                     </form>
            
            </div><!--subcontent-->
                                         
                   
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
<script type="text/javascript">
	 jQuery.noConflict();
	 jQuery(document).ready(function($) { 
 	var patentType_hid=$("#patentType_hid").val()
	if(patentType_hid){
		patentType_hid=patentType_hid.replace("/",""); 
		$(":radio[name='patentType'][value='" + patentType_hid + "']").prop("checked", "checked");
	}
	var ifAuthority_hid=$("#ifAuthority_hid").val()
	if(ifAuthority_hid){
		ifAuthority_hid=ifAuthority_hid.replace("/",""); 
		if(ifAuthority_hid=='是'){
			$(":radio[name='ifAuthority'][value='是']").prop("checked", "checked");
			$("#transfer_info").css('display','block');//显示
		}
	}
 	var ifTransfer_hid=$("#ifTransfer_hid").val()
 	if(ifTransfer_hid){
 		ifTransfer_hid=ifTransfer_hid.replace("/",""); 
 		if(ifTransfer_hid=='是'){
 			$(":radio[name='ifTransfer'][value='是']").prop("checked", "checked"); 
 		 	$("#authorize_time").css('display','block');//显示
 		 }
 	} 
   });
 </script>
</html>
