<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>集美大学 | 食品与生物工程学院</title>
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery-1.7.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/general.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery.uniform.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/tables.js')}}"></script>

<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->  
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
    <script src="js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">科研成果统计软件</span>

            
            <br clear="all" />
            
        </div><!--left-->
        
    <div class="right">
            <div class="userinfo">
                <span style="color: #FB9337;">欢迎!</span>
                <span style="color: #FB9337;">{{username}} 老师</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
                
                <div class="userdata">
                    <h4>{{username}}</h4>
                    <span class="email">&nbsp;{{userid}}</span>
                    <ul>
                        <li><a href="/stu/editprofile">编辑资料</a></li>
                        <li><a href="/stu/editpassword">修改密码</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
    
    <div class="header">
        <ul class="headermenu">
           
            <li ><a href="/tec/forms"><span class="icon icon-pencil"></span>论文录入</a></li>
            <li class="current"><a href="/tec/tables"><span class="icon icon-message"></span>论文列表</a></li>
            <li ><a href="/tec/academic_manage"><span class="icon icon-chart"></span>论文导出</a></li>
       </ul>
        
        
    </div><!--header-->
        <div>
    
        
        <div>

               
                <div class="tableoptions">
                    <button class="deletebutton">删除</button> &nbsp;
                    <button class="detailbutton">详情</button> &nbsp;
                    <button class="editbutton">编辑</button> &nbsp;
                    
                </div><!--tableoptions-->   
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="example">
                    <colgroup>
                        <col class="con0" style="width: 45px;" />
                        <col class="con1" />
                        <col class="con0" style="width:300px"/>
                        <!-- <col class="con0" style="width:300px"/> -->
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head0 nosort" align="center">
                                <input type="checkbox" class="checkall" />
                            </th>
                            <th class="head1">id</th>
                            <th class="head1">论文名称</th>
                            <th class="head0">论文类别</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for j in range(length) %}
                        {% for i in range(lengthset[j]) %}
                        <tr>
                            <td align="center"><span class="center">
                            <input type="checkbox" /></span></td>
                            <td>{{result[j][i][0]}}</td>
                            <td>{{result[j][i][1]}}</td>
                            <td>{{result[j][-1]}}</td>
                            
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                
                <br /><br />
  
        </div><!--contentwrapper-->
        
    </div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
</html>
