<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>集美大学 | 食品与生物工程学院</title>
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<link rel="stylesheet" type="text/css" media="all" href=" {{ url_for('static',filename='css/slider.css')}}" />
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery-1.7.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/general.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery.nivo.slider.js')}}"></script>
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">科研成果管理系统</span>
            

            <br clear="all" />
            
        </div>
        <div class="right">          
            <div class="userinfo" onclick='window.open("/login","_self")'><span>登录</span></div>
                    
            </div>
            
                
               <!-- </div>avatar-->
                <!--<div class="userdata">
                    <h4>Juan</h4>
                    <span class="email">youremail@yourdomain.com</span>
                    <ul>                    
                        <li><a href="">账号设置</a></li>
                        <li><a href="dashboard.html">退出</a></li>
                    </ul>
                </div><!--userdata-->
    <!--        </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->

    
    <div class="header">
        <ul class="headermenu">
            <li></li>

        </ul>
        
    </div><!--header-->
      <!------ Slider ------------>
		  <div class="slider">
		  	<div class="wrap">
	      	 <div class="slider-wrapper theme-default">
	            <div id="slider" class="nivoSlider">
                    <img src="{{ url_for('static', filename= 'images/01.jpg')}}" alt="" />
	                <img src="{{ url_for('static', filename= 'images/03.jpg')}}" alt="" />
	                <img src="{{ url_for('static', filename= 'images/04.jpg')}}" alt="" />
	                <img src="{{ url_for('static', filename= 'images/05.jpg')}}" alt="" />
	            </div>
	        </div>
	        </div>
   		</div>
		<!------End Slider ------------>

		<div class="footer-bottom">
 	<div class="wrap">
 		<div class="copy">
			<p>© 版权所有   集美大学 食品与生物工程学院</p>
		</div>
 	</div>
 </div>

    </div><!--bodywrapper-->

    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    
    </script>

	</body>
</html>
