<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>集美大学 | 食品与生物工程学院</title>
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery-1.7.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/general.js')}}"></script>
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">科研成果统计软件</span>
            
            <br clear="all" />
            
         </div><!--left-->
        
        <div class="right">
            <div class="userinfo">
                <span style="color: #FB9337;">欢迎!</span>
                <span style="color: #FB9337;">{{username}} 同学</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
                
                <div class="userdata">
                    <h4>{{username}}</h4>
                    <span class="email">&nbsp;{{userid}}</span>
                    <ul>
                        <li><a href="/stu/editprofile">编辑资料</a></li>
                        <li><a href="/stu/editpassword">修改密码</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
<div class="header">
        <ul class="headermenu">
            <li><a href="/dashboard"><span class="icon icon-flatscreen"></span>首页</a></li>
            <li class="current"><a href="/stu/forms"><span class="icon icon-pencil"></span>论文录入</a></li>
            <li><a href="/stu/tables"><span class="icon icon-message"></span>论文列表</a></li>
       </ul>
    </div><!--header-->

        
        <div>
                
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2" style="width:100%" >
                    <colgroup>
                        <col class="con0" style="width: 20%" />
                        <col class="con1" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head0">名称</th>
                            <th class="head1">字段</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>论文名称(中文名称)</td>
                            <td>{{resultset[0]['acadPaperNameCH']}}
                            </td>
                        </tr>
                        <tr>
                            <td>论文名称(英文名称)</td>
                            <td>{{resultset[0]['acadPaperNameEN']}}
                            </td>
                        </tr>
                        <tr>
                            <td>第一作者</td>
                            <td>{{resultset[0]['FirstEdit']}}
                            </td>
                        </tr>
                        <tr>
                            <td>第二作者</td>
                            <td>{{resultset[0]['SecondEdit']}}
                            </td>
                        </tr>
                        <tr>
                            <td>第三作者</td>
                            <td>{{resultset[0]['ThirdEdit']}}
                            </td>
                        </tr>
                        <tr>
                            <td>第四作者</td>
                            <td>{{resultset[0]['ForthEdit']}}
                            </td>
                        </tr>
                        <tr>
                            <td>第五作者</td>
                           <td>{{resultset[0]['FifthEdit']}}
                            </td>
                        </tr>
                        <tr>
                            <td>第六作者</td>
                            <td>{{resultset[0]['SixthEdit']}}
                            </td>
                        </tr>
                        <tr>
                            <td>第七作者</td>
                            <td>{{resultset[0]['SeventhEdit']}}
                            </td>
                        </tr>
                        <tr>
                            <td>第八作者</td>
                            <td>{{resultset[0]['EighthEdit']}}
                            </td>
                        </tr>
                        <tr>
                            <td>通讯作者</td>
                            <td>{{resultset[0]['TransEdit']}}
                            </td>
                        </tr>
                        <tr>
                            <td>刊物名称</td>
                            <td>{{resultset[0]['pubIssue']}}
                            </td>
                        </tr>
                        <tr>
                            <td>论文发表时间</td>
                            <td>{{resultset[0]['pubTime']}}
                            </td>
                        </tr>
                        <tr>
                            <td>发表卷</td>
                            <td>{{resultset[0]['pubIssue']}}
                            </td>
                        </tr>
                        <tr>
                            <td>发表期</td>
                            <td>{{resultset[0]['pubPeriod']}}
                            </td>
                        </tr>
                        <tr>
                            <td>发表页码</td>
                            <td>{{resultset[0]['pubPage']}}
                            </td>
                        </tr>
                        <tr>
                            <td>收录类型</td>
                            <td>{{resultset[0]['paperType']}}
                            </td>
                        </tr>
                        <tr>
                            <td>DOI</td>
                            <td>{{resultset[0]['indexNum']}}
                            </td>
                        </tr>
                                                <tr>
                            <td>IF</td>
                            <td>{{resultset[0]['impactFactor']}}
                            </td>


                        </tr>
                    </tbody>
                </table>
                
                <br /><br />
                                         
                   
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
</html>
