<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>404错误提示页面</title>
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery-1.7.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery-ui-1.8.16.custom.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery.cookie.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/general.js')}}"></script>
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">科研成果管理系统</span>
            

            <br clear="all" />
            
        </div><!--left-->
        
    </div><!--topheader-->
    
    
    <div class="contentwrapper padding10">
    	<div class="errorwrapper error404">
        	<div class="errorcontent">
                <h1>很抱歉，您要访问的页面不存在！</h1>
               
                
                <p>温馨提示：</p>
                <ul>
                    <li>请检查您访问的网址是否正确</li>
                    <li>您访问的页面已经被删除了</li>
                    <li>您寻找的页面不在这个网站</li>
                    <li>你喜欢这个页面</li>
                </ul>
                <br />
                <button onclick="location.href=''" class="stdbtn btn_orange" style="background:#fb9337">返回首页</button>
            </div><!--errorcontent-->
        </div><!--errorwrapper-->
    </div>    
    
    
</div><!--bodywrapper-->

</body>
</html>
