<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>控制台页面</title>

<link href="http://code.jquery.com/jquery-1.7.min.js" rel="stylesheet">
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<link rel="stylesheet" type="text/css" media="all" href=" {{ url_for('static',filename='css/slider.css')}}" />

<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery-1.7.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/custom/general.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/jquery.nivo.slider.js')}}"></script>

</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">科研成果管理系统</span>
            

            <br clear="all" />
            
        </div>
        <div class="right">          
            <div class="userinfo" onclick='window.open("/login","_self")'><span>登录</span></div>
            <div class="userinfo" onclick='window.open("/register","_self")'><span>注册</span></div>        
            </div>
            
                
               <!-- </div>avatar-->
                <!--<div class="userdata">
                    <h4>Juan</h4>
                    <span class="email">youremail@yourdomain.com</span>
                    <ul>                    
                        <li><a href="">账号设置</a></li>
                        <li><a href="dashboard.html">退出</a></li>
                    </ul>
                </div><!--userdata-->
    <!--        </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->

    
    <div class="header">
        <ul class="headermenu">
            <li><a href="/dashboard"><span class="icon icon-flatscreen"></span>首页</a></li>
            <li class="current"><a href="/forms"><span class="icon icon-pencil"></span>论文录入</a></li>
            <li><a href="/newpost"><span class="icon icon-message"></span>论文导出</a></li>
            <li><a href="/tables"><span class="icon icon-chart"></span>论文列表</a></li>
        </ul>
        
    </div><!--header-->
      <!------ Slider ------------>
		  <div class="slider">
		  	<div class="wrap">
	      	 <div class="slider-wrapper theme-default">
	            <div id="slider" class="nivoSlider">
                    <img src="{{ url_for('static', filename= 'images/banner1.jpg')}}" alt="" />
                    <img src="{{ url_for('static', filename= 'images/banner2.jpg')}}" alt="" />
	                <img src="{{ url_for('static', filename= 'images/banner3.jpg')}}" alt="" />
	                <img src="{{ url_for('static', filename= 'images/banner4.jpg')}}" alt="" />
	                <img src="{{ url_for('static', filename= 'images/banner5.jpg')}}" alt="" />
	            </div>
	        </div>
	        </div>
   		</div>
		<!------End Slider ------------>
		<div class="content-top">
			<div class="wrap">
				<div class="section group">
				<div class="col_1_of_top span_1_of_top">
					<img src="{{ url_for('static', filename= 'images/pic.jpg')}}" alt=""/>
					<h3>Lorem Ipsum is simply dummy</h3>
					<h4>Video Tutorials</h4>
				</div>
				<div class="col_1_of_top span_1_of_top">
					<img src="{{ url_for('static', filename= 'images/pic1.jpg')}}"  alt=""/>
					<h3>Lorem Ipsum is simply dummy</h3>
					<h4>Academic Excellence</h4>
				</div>
				<div class="col_1_of_top span_1_of_top">
					<img src="{{ url_for('static', filename= 'images/pic2.jpg')}}" alt=""/>
					<h3>Lorem Ipsum is simply dummy</h3>
					<h4>Language Excellence</h4>
				</div>
				 <div class="clear"></div> 
			</div>
			</div>
		</div>
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >Website Template</a></div>

		<div class="footer-bottom">
 	<div class="wrap">
 		<div class="copy">
			<p>&copy; Copyright &copy; 2013.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>-More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></p>
		</div>
 	</div>
 </div>

    </div><!--bodywrapper-->

    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
//  var register=document.getElementById("register");
    $('#register').click(function(){
        window.open("/register","_self")
    })
    </script>

	</body>
</html>
