<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title></title>
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery-1.7.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/custom/general.js')}}"></script>
</head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<body class="withvernav">
<div class="bodywrapper">
<div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">科研成果统计软件</span>
           
            
            <br clear="all" />
            
        </div><!--left-->
        
        <div class="right">
            <div class="userinfo">
            	<span style="color: #FB9337;">欢迎!</span>
                <span style="color: #FB9337;">姓名</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
            	
				<div class="userdata">
                    <h4>Juan</h4>
                    <span class="email">youremail@yourdomain.com</span>
                    <ul>
                    	<li><a href="/editprofile">编辑资料</a></li>
                        <li><a href="/dashboard">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
<div class="header">
    	<ul class="headermenu">
    		<li><a href="/dashboard"><span class="icon icon-flatscreen"></span>首页</a></li>
        	<li><a href="/forms"><span class="icon icon-pencil"></span>论文录入</a></li>
            <li><a href="/newpost"><span class="icon icon-message"></span>论文导出</a></li>
            <li><a href="/tables"><span class="icon icon-chart"></span>论文列表</a></li>
        </ul>
        

        
    </div><!--header-->
<div class="centercontent">
    <div id="contentwrapper" class="contentwrapper">	
    	<div id="" class="subcontent">
    		<div style="margin-left: 60%;">
    			<span id="edit">
	    			<img src="images/edit.png">    			
	    		    <span>编辑资料</span>&nbsp;&nbsp;&nbsp;&nbsp;
    		    </span>
    		    <span id="edit_pass">
	    			<img src="images/edit.png"> 
	    		    <span>修改密码</span>
    		    </span>
    		</div>
                    <form class="stdform" name="" id="edit_form"action="" method="post">
                    	
                        <p>
                        	<label>姓名</label>
                            <span class="field"><input type="text" name="" class="mediuminput" id="name" disabled="disabled"/></span>   
                        </p>
                        
                        <p>
                        	<label>年级</label>
                            <span class="field">
                            	<input type="text" name="" class="mediuminput"disabled="disabled"id="glass"/>
                            </span>
                        </p>
                        <p>
                        	<label>专业</label>
                            <span class="formwrapper" >
                            	<input type="radio" name="8" disabled="disabled"/>生物学 &nbsp; &nbsp;
                            	<input type="radio" name="8" disabled="disabled" />微生物学 &nbsp; &nbsp;
                            	<input type="radio" name="8" disabled="disabled"/>食品科学 &nbsp; &nbsp;
                            	<input type="radio" name="8" disabled="disabled"/>食品工程 &nbsp; &nbsp;
                            	<input type="radio" name="8" disabled="disabled"/>食品科学与工程 &nbsp; &nbsp;
                            	<input type="radio" name="8" disabled="disabled"/>农产品加工及贮藏工程 &nbsp; &nbsp;
                            	<input type="radio" name="8" disabled="disabled"/>食品加工与安全 &nbsp; &nbsp;
                            </span>
                        </p>
                        <p>
                        	<label>邮箱</label>
                            <span class="field">
                            	<input type="text" name="" class="mediuminput"disabled="disabled" id="email"/>
                            </span>
                        </p>
                        <p>
                        	<label>第一导师</label>
                            <span class="field"><input type="text" name="input3" class="mediuminput" disabled="disabled" id="name_fir"/></span>
                        </p>
                        <p>
                        	<label>第二导师</label>
                            <span class="field"><input type="text" name="input3" class="mediuminput" disabled="disabled" id="name_sec" /></span>
                        </p>
                        
                        <br clear="all" /><br />
                 
                        <p class="stdformbutton">
                        	<button type="button"  class="submit radius2"id="edit_fin">Submit Button</button>
                            <!--<input type="button" value="click me" />-->
                        </p>
                    </form>      
                    <br />
                    <br />
                    <form class="stdform" name="" id="editpass_form"action="" method="post" style="display: none;">
                    	
                        <p>
                        	<label>原密码</label>
                            <span class="field"><input type="text" name="" class="mediuminput" id=""/></span>   
                        </p>
                        
                        <p>
                        	<label>新密码</label>
                            <span class="field">
                            	<input type="text" name="" class="mediuminput"id=""/>
                            </span>
                        </p>
                        <p>
                        	<label>确认密码</label>
                            <span class="field">
                            	<input type="text" name="" class="mediuminput"id=""/>
                            </span>
                        </p>
                        <br clear="all" /><br />
                         <p class="stdformbutton">
                        	<button type="button"  class="submit radius2"id="editpass_fin">Submit Button</button>
                            <!--<input type="button" value="click me" />-->
                        </p>
                    </form>
        </div><!--subcontent-->
        
        
    </div><!--contentwrapper-->
</div> <!--centercontent -->

</div><!--bodywrapper-->
	</body>
	<script type="text/javascript">
		$("#edit").click(function(){
			$("#edit_form input").removeAttr("disabled");//要变成Enable，JQuery只能这么写 
			$("#edit_form").css("display","block");
			$("#editpass_form").css("display","none");
			})
	    $("#edit_fin").click(function(){
	    	$("#edit_form input").attr("disabled","disabled");//再改成disabled
	    	alert("修改成功");
	    })
	    $("#edit").mouseover(function(){
	    	$(this).css("color","#fb9337");
	    	$(this).css("font-size","18px");
	    	$(this).css("cursor","pointer");
	    	$("#edit img").attr("src", "images/edit_cho.png");
	    })
	    $("#edit").mouseout(function(){
	    	$("#edit").css("color","#060606");
	    	$("#edit").css("font-size","12px");
	    	$("#edit img").attr("src", "images/edit.png");
	    })
	    $("#edit_pass").mouseover(function(){
	    	$(this).css("color","#fb9337");
	    	$(this).css("font-size","18px");
	    	$("#edit_pass img").attr("src", "images/edit_cho.png");
	    	$(this).css("cursor","pointer");
	    })
	    $("#edit_pass").mouseout(function(){
	    	$(this).css("color","#060606");
	    	$(this).css("font-size","12px");
	    	$("#edit_pass img").attr("src", "images/edit.png");
	    })
	    $("#edit_pass").click(function(){
	    	$("#editpass_form").css("display","block");
	    	$("#edit_form").css("display","none");
	    })
        $("#editpass_fin").click(function(){
        	alert("修改成功");
        	window.open("editprofile.html","_self");
        })
	</script>
</html>
