<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>数据表格页面</title>


<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery-1.7.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery-ui-1.8.16.custom.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery.cookie.js')}}"></script>


<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery.uniform.min.js')}}"></script>

<script type="text/javascript" src=" {{ url_for('static',filename='js/custom/general.js')}}"></script>

<script type="text/javascript" src=" {{ url_for('static',filename='js/custom/widgets.js')}}"></script>

<script type="text/javascript" src=" {{ url_for('static',filename='js/custom/tables.js')}}"></script>
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">科研成果统计软件</span>
            
            <br clear="all" />
            
        </div><!--left-->
        
        <div class="right">
            <div class="userinfo">
            	<span style="color: #FB9337;">欢迎!</span>
                <span style="color: #FB9337;">姓名</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
            	
				<div class="userdata">
                    <h4>Juan</h4>
                    <span class="email">youremail@yourdomain.com</span>
                    <ul>
                    	<li><a href="editprofile.html">编辑资料</a></li>
                    	<li><a href="editpassword.html">修改密码</a></li>
                        <li><a href="dashboard.html">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
    
    
    <div class="header">
    	<ul class="headermenu">
        	<li><a href="/dashboard"><span class="icon icon-flatscreen"></span>首页</a></li>
            <li ><a href="/forms"><span class="icon icon-pencil"></span>论文录入</a></li>
            <li class="current"><a href="/newpost"><span class="icon icon-message"></span>论文导出</a></li>
            <li><a href="/tables"><span class="icon icon-chart"></span>论文列表</a></li>
        </ul>
        

       

        
    </div><!--header-->
    
   
        
    <div class="centercontent tables">
        
        <div id="contentwrapper" class="contentwrapper">
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
                    <colgroup>
                        <col class="con0" style="width: 4%" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                    </colgroup>
                    <thead>
                        <tr>
                          <th class="head0 nosort"><input type="checkbox" /></th>
                            
                            <th class="head1">作者</th>
                            <th class="head0">标题</th>
                            <th class="head1">期刊类型</th>
                            <th class="head0">刊名</th>
                            <th class="head1">年份</th>
                            <th class="head0">卷(期)</th>
                            <th class="head1">起止页码</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(length) %}
                        <tr class="gradeX">
                          <td align="center"><span class="center">
                            <input type="checkbox" />
                          </span></td>
            
                            <td>{{result[i][1]}}</td>
                            <td>{{result[i][4]}}</td>
                            <td>学术期刊</td>
                            <td>{{result[i][5]}}</td>
                            <td>{{result[i][6]}}</td>
                            <td>{{result[i][7]}}</td>
                            <td>{{result[i][-1]}}</td>
                            
                            
                        </tr>
                        {% endfor %}


                    </tbody>
                </table>

                
                <br /><br />
                                         
        </div>  <!--  contentwrapper      -->

        	<div class="widgetbox">
                            <div class="widgetcontent">
                                <div id="tabs">
                                    <ul>
                                        <li><a href="#tabs-1">预览</a></li>
                                        <li><a href="#tabs-2">综述</a></li>
                                        <li><a href="#tabs-3">笔记</a></li>
                                    </ul>
                                    <div id="tabs-1">
                                    	<span>格式选择：</span>
                                    	 <select class="radius3">
					                    	<option value="">标准格式</option>
					                        <option value="">其他格式1</option>
					                        <option value="">其他格式2</option>
					                    </select> &nbsp;
					                    
                                        <ul class="listthumb">
                                            <span><b>[序号]主要责任者.文献题名[J].刊名,年,卷(期):起止页码.</b>
                                            </span>

                                            
                                        </ul>
                                        <button>导出为文本格式</button> 
                                    </div>
                                    <div id="tabs-2">
                                        <ul>
                                            <li><a href="">Proin elit arcu, rutrum commodo</a></li>
                                            <li><a href="">Aenean tempor ullamcorper leo</a></li>
                                            <li><a href="">Vehicula tempus, commodo a, risus</a></li>
                                            <li><a href="">Donec sollicitudin mi sit amet mauris</a></li>
                                            <li><a href="">Curabitur nec arcu</a></li>
                                        </ul>
                                    </div>
                                    <div id="tabs-3">
                                        <ul class="thumb">
                                         
                                            <li><a href="#"><img src="{{ url_for('static', filename= 'images/thumb/xsmall/thumb1.png')}}" alt="" /></a></li>
                                            <li><a href="#"><img src="{{ url_for('static', filename= 'images/thumb/xsmall/thumb2.png')}}" alt="" /></a></li>
                                            <li><a href="#"><img src="{{ url_for('static', filename= 'images/thumb/xsmall/thumb3.png')}}" alt="" /></a></li>
                                            <li><a href="#"><img src="{{ url_for('static', filename= 'images/thumb/xsmall/thumb4.png')}}" alt="" /></a></li>
                                            <li><a href="#"><img src="{{ url_for('static', filename= 'images/thumb/xsmall/thumb5.png')}}" alt="" /></a></li>
                                            <li><a href="#"><img src="{{ url_for('static', filename= 'images/thumb/xsmall/thumb6.png')}}" alt="" /></a></li>
                                            <li><a href="#"><img src="{{ url_for('static', filename= 'images/thumb/xsmall/thumb7.png')}}" alt="" /></a></li>
                                            <li><a href="#"><img src="{{ url_for('static', filename= 'images/thumb/xsmall/thumb8.png')}}" alt="" /></a></li>
                                          
                                        </ul>     
                                    </div>
                                </div><!--#tabs-->
                            </div><!--widgetcontent-->
                       </div><!--widgetbox-->
	    
    </div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
</html>