<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>登录页面</title>

<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery-1.7.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery-ui-1.8.16.custom.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery.cookie.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery.uniform.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/general.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/register.js')}}"></script>

</head>

<body class="loginpage">
	<div class="loginbox">
    	<div class="loginboxinner">
        	
            <div class="logo">
            	<h1 class="logo">注册<span>账号</span></h1>
				<span class="slogan">科研成果管理系统</span>
            </div><!--logo-->
            
            <br clear="all" /><br />

            
            <form id="login" action="" method="post">
            	
                <div class="password">
                	<div>
                    	<input type="text" name="stuname" id="stuname" />
                    </div>
                </div>
                <div class="password">
                	<div>
                    	<input type="password" name="password" id="password" />
                    </div>
                </div>
                <div class="password">
                	<div>
                    	<input type="password" name="password_confirm" id="password_confirm" />
                    </div>
                </div>
                <div class="password">
                	<div>
                    	<input type="text" name="stuid" id="stuid" />
                    </div>
                </div>
                <div class="password">
                	<div>
                    	<input type="text" name="major" id="major" />
                    </div>
                </div>
                <div class="password">
                	<div>
                    	<input type="text" name="firstProf" id="firstProf" />
                    </div>
                </div>
                <div class="password">
                	<div>
                    	<input type="text" name="secondProf" id="secondProf" />
                    </div>
                </div>
               <div class="">
                    	<input type="text" name="code" id="code" class="smallinput" /> 
                    	&nbsp; &nbsp;
                        <div style="width: 50%;
                        	height: 32px;
                        	display: inline-block;
                        	position: relative;
                        	overflow: hidden;
                        	cursor: pointer;        
                        	vertical-align:middle;
                        	background-color:#060606;">验证码
                        </div>
                </div>
                <br>
                <button>注册</button>
            
            </form>
            
        </div><!--loginboxinner-->
    </div><!--loginbox-->


</body>
</html>
