<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>数据表格页面</title>

<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery-1.7.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery-ui-1.8.16.custom.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery.cookie.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery.uniform.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/custom/general.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/custom/tables.js')}}"></script>

<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->  
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">科研成果统计软件</span>

            
            <br clear="all" />
            
        </div><!--left-->
        
    <div class="right">
            <div class="userinfo">
                <span style="color: #FB9337;">欢迎!</span>
                <span style="color: #FB9337;">{{username}} 同学</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
                
                <div class="userdata">
                    <h4>Juan</h4>
                    <span class="email">youremail@yourdomain.com</span>
                    <ul>
                        <li><a href="/editprofile">编辑资料</a></li>
                        <li><a href="/editpassword">修改密码</a></li>
                        <li><a href="/dashboard">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
    
    <div class="header">
    	<ul class="headermenu">
        	<li><a href="/dashboard"><span class="icon icon-flatscreen"></span>首页</a></li>
        	<li><a href="/forms"><span class="icon icon-pencil"></span>论文录入</a></li>
            <li><a href="/newpost"><span class="icon icon-message"></span>论文导出</a></li>
            <li class="current"><a href="/tables"><span class="icon icon-chart"></span>论文列表</a></li>
        </ul>
        
        
    </div><!--header-->
        
    <div class="centercontent tables">
        
        <div id="contentwrapper" class="contentwrapper">

                <div class="contenttitle2">
                	<h3>全部论文</h3>
                </div><!--contenttitle-->
	
                <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
                    <colgroup>
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" style="width: 4%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head1">论文名称</th>
                            <th class="head1">论文类别</th>
                            <th class="head1">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="/info" style="text-decoration:underline">论文信息页面</a></td>
                            <td>Internet Explorer 4.0</td>
                            <td class="center"><a href="" class="edit">Edit</a> &nbsp; <a href="" class="delete">Delete</a></td>
                        </tr>
                        {% for j in range(length) %}
                        {% for i in range(lengthset[j]) %}
                        <tr>
                            <td>{{result[j][i][1]}}</td>
                            <td>{{result[j][-1]}}</td>
                            <td class="center"><a href="" class="edit">Edit</a> &nbsp; <a href="" class="delete">Delete</a></td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                
                <br /><br />
  
        </div><!--contentwrapper-->
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
</html>
