<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>集美大学 | 食品与生物工程学院</title>
<link rel="icon" href="data:;base64,=">
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" > 
<script type="text/javascript" src=" {{ url_for('static',filename='js/jquery-1.7.min.js')}}"></script>  
<script type="text/javascript" src=" {{ url_for('static',filename='js/flatpickr.min.js')}}"></script> 
<script type="text/javascript" src=" {{ url_for('static',filename='js/general.js')}}"></script> 
<script type="text/javascript" src=" {{ url_for('static',filename='js/custom.js')}}"></script>
</head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<body class="withvernav">
<div class="bodywrapper">
<div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">食品与生物工程学院研究生科研成果管理系统</span>
           
            
            <br clear="all" />
            
        </div><!--left-->
        
       <div class="right">
            <div class="userinfo">
                <span style="color: #FB9337;">欢迎!</span>
                <span style="color: #FB9337;">管理员</span>
            </div><!--userinfo-->
            
 <div class="userinfodrop">
                
                <div class="userdata">
                    <h4>{{username}}</h4>
                    <span class="email">&nbsp;{{userid}}</span>
                    <ul> 
                        <li><a href="/su/editpassword">修改密码</a></li>
                        <li><a href="/su/logout">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
<div class="header">
        <ul class="headermenu">
        	<li ><a href="/su/academic_manage"><span class="icon icon-flatscreen"></span>论文管理</a></li>
            <li ><a href="/su/students"><span class="icon icon-pencil"></span>学生管理</a></li>
            <li ><a href="/su/teachers"><span class="icon icon-message"></span>教师管理</a></li>
        </ul>  
    </div><!--header-->
<div class="centercontent">
    <div id="contentwrapper" class="contentwrapper">	
    	<div class="subcontent">
                    <form class="stdform" id="su_editpasswd" method="post">
                        <p>
                        	<label>原密码</label>
                            <span class="field">
                            	<input type="password" name="password" id="OldPassword" class="mediuminput"/>
                            	<span style="color:red;display: none;">！密码不能为空</span>
                            </span>   
                        </p>
                        
                        <p>
                        	<label>新密码</label>
                            <span class="field">
                            	<input type="password" name="newPassword"id="newPassword" class="mediuminput" placeholder="请输入6到15位字母或数字"/>
                            	<span style="color:red;display: none;">！密码不能为空</span>
                            </span>
                        </p>
                        <p>
                        	<label>确认密码</label>
                            <span class="field">
                            	<input type="password" name="repeatPassword" id="repeatPassword"class="mediuminput" placeholder="请输入6到15位字母或数字"/>
                            	<span style="color:red;display: none;">！两次输入密码不一致,请重输</span>
                            </span>
                        </p>
                        <br clear="all" /><br />
                         <p class="stdformbutton">
                        	<button type="button" class="submit radius2">保存</button>
                            <!--<input type="button" value="click me" />-->
                        </p>
                    </form>
       </div><!--subcontent-->
        
        
    </div><!--contentwrapper-->
</div> <!--centercontent -->

</div><!--bodywrapper-->
	</body>
</html>
