<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>集美大学 | 食品与生物工程学院</title>
<link rel="icon" href="data:;base64,=">
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/webuploader.css')}}" >
<script type="text/javascript" src=" {{ url_for('static',filename='js/tec/jquery-1.7.min.js')}}"></script> 
<script type="text/javascript" src=" {{ url_for('static',filename='js/su/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/su/jquery.uniform.min.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/su/jquery.leanModal.min.js')}}"></script> 
<script type="text/javascript" src=" {{ url_for('static',filename='js/su/common.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/su/project.js')}}"></script>

<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
    <script src="js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">食品与生物工程学院研究生科研成果管理系统</span>
            
            <br clear="all" />
            
        </div><!--left-->
        
        <div class="right">
            <div class="userinfo">
                <span style="color: #FB9337;">欢迎!</span>
                <span style="color: #FB9337;">{{username}}管理员</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
                
                <div class="userdata">
                    <h4>管理员</h4>
                    <span class="email">administrator</span>
                    <ul>
                        <li><a href="/su/editpassword">修改密码</a></li>
                        <li><a href="/su/logout">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
    
    
    
    <div class="header">
        <ul class="headermenu">
            <li class="current"><a href="/su/academic_manage"><span class="icon icon-flatscreen"></span>论文管理</a></li>
            <li ><a href="/su/students"><span class="icon icon-pencil"></span>学生管理</a></li>
            <li ><a href="/su/teachers"><span class="icon icon-message"></span>教师管理</a></li>
             

        </ul>
        
    </div><!--header-->
           <div class="vernav2 iconmenu">
       <ul>
            <li ><a href="/su/academic_manage" class="elements">期刊论文</a></li>
            <li><a href="/su/degree_manage" class="elements">学位论文</a></li>
            <li  ><a href="/su/patent_manage" class="elements">专利</a></li>
            <li class="current"><a href="/su/project_manage" class="elements">参加项目</a></li>
            <li><a href="/su/monograph_manage" class="elements">专著</a></li>
            <li><a href="/su/standard_manage" class="elements">标准</a></li>
      </ul>
        <br /><br />
    </div><!--leftmenu-->
    <div class="line"></div>
     <div class="centercontent tables" >
        <div class="tableoptions">
                    <button class="deletebutton">删除</button> &nbsp;
                    <button class="detailbutton_su">详情</button> &nbsp;
                    <a id="go" rel="leanModal" name="signup" href="#signup" class="abutton">批量导入</a>
                     
                    <div id="signup">
                    	<div id="signup-ct">
                    				<div id="signup-header">
                    					<h2>批量导入论文</h2>
                    					<a class="modal_close" href="#"></a>
                    				</div> 
                    					<div>
                    						<form id="uploadForm"   enctype="multipart/form-data">
                    						   <input id="File1" name="file"   type="file" value="" />
                    						   <p><a>点击此处下载模板</a>并填写</p>
                    						   <input id="btnImportOK" type="button"  value="上传" />
                    					   </form> 
                    					</div> 
                    	</div>
                    </div>
                    <span style="float:right">

                    <button class="exportbutton_execl">导出execl</button> &nbsp;
                    <button class="exportbutton_txt" title="project_ta">导出txt</button>
              	</span>
        </div><!--tableoptions-->
        <div id="dialogBox"></div>  
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="project_hou">
                    <colgroup>
                        <col class="con0" style="width: 45px;" />
                        <col class="con1" />
                        <col class="con0" style="width: 70px"/>
                        <col class="con1" style="width: 80px"/>
                        <col class="con0" style="width: 90px"/>
						<col class="con1" style="width: 90px"/>
                        <col class="con0" style="width: 90px"/>
                        <col class="con1" style="width: 90px"/>
                        <col class="con0" style="width: 120px"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head1 nosort" align="center"><input type="checkbox" class="checkall"/></th>
                            <th class="head1">编号</th>
                            <th class="head1">项目名称</th>
                            <th class="head1">项目级别</th>
                            <th class="head1">项目编号</th>
                            <th class="head1">项目主持人</th>
                            <th class="head1">第一参与人</th>
                            <th class="head1">第二参与人</th>
                            <th class="head1">第三参与人</th>
                            <th class="head1">项目经费（万元）</th>
                        </tr>
                    </thead>
                    <tbody id="project_ta">
                        {% for i in range(length) %}
                        <tr class="gradeA">
                           <td align="center"><span class="center">
                            <input type="checkbox" />
                          </span></td>
                            <td>{{results[i][0]}}</td>
                            <td>{{results[i][6]}}</td>
                            <td>{{results[i][8]}}</td>
                            <td>{{results[i][0]}}</td>
                            <td>{{results[i][1]}}</td>
                            <td>{{results[i][10]}}</td>
                            <td>{{results[i][11]}}</td>
                            <td>{{results[i][12]}}</td>
                            <td>{{results[i][2]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        

        
    </div><!-- centercontent -->
    
    
    <hr >
        

    
    
</div>
     </div><!--bodywrapper-->

</body>
</html>
