
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>集美大学 | 食品与生物工程学院</title>
<link rel="icon" href="data:;base64,=">
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" > 
<script type="text/javascript" src=" {{ url_for('static',filename='js/jquery-1.7.min.js')}}"></script>  
<script type="text/javascript" src=" {{ url_for('static',filename='js/flatpickr.min.js')}}"></script> 
<script type="text/javascript" src=" {{ url_for('static',filename='js/general.js')}}"></script> 
<script type="text/javascript" src=" {{ url_for('static',filename='js/custom.js')}}"></script>
</head>

<body class="withvernav">
<div class="bodywrapper">
<div class="topheader">
        <div class="left">
            <h1 class="logo">集美<span>大学</span></h1>
            <span class="slogan">食品与生物工程学院研究生科研成果管理系统</span>
           
            
            <br clear="all" />
            
        </div><!--left-->
        
        <div class="right">
            <div class="userinfo">
            	<span style="color: #FB9337;">欢迎!</span>
                <span style="color: #FB9337;">管理员</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
            	
				<div class="userdata">
                    <h4>{{username}}</h4>
                    <span class="email">{{userid}}</span>
                    <ul> 
                        <li><a href="/su/editpassword">修改密码</a></li>
                        <li><a href="/su/logout">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
<div class="header">
        <ul class="headermenu">
        	<li ><a href="/su/academic_manage"><span class="icon icon-flatscreen"></span>论文管理</a></li>
            <li ><a href="/su/students"><span class="icon icon-pencil"></span>学生管理</a></li>
            <li ><a href="/su/teachers"><span class="icon icon-message"></span>教师管理</a></li>
        </ul>  
    </div><!--header-->
<div class="centercontent">
    <div id="contentwrapper" class="contentwrapper">	
    	<div class="subcontent">
                    <form class="stdform"   id="tec_add_form"  method="POST">
                        <p>
                        	<label>姓名</label>
                            <span class="field"><input type="text" name="tecName" class="mediuminput"   /></span>   
                        </p>
                        <p>
                            <label>教工号</label>
                            <span class="field"><input type="text" name="tecId" class="mediuminput"  /></span>   
                        </p>
                        <p>
                        	<label>性别</label>
                            <span class="formwrapper" >
                            	<input type="radio" checked="checked" name="SEX" value="男"/>男 &nbsp; &nbsp;
                            	<input type="radio" name="SEX" value="女"/>女 &nbsp; &nbsp;
                            </span>
                        </p>
                        <p>
                        	<label>教研室</label>
                            <span class="formwrapper" >
                            	<input type="radio" checked="checked" name="department" value="食工系"/>食工系 &nbsp; &nbsp;
                            	<input type="radio" name="department"  value="生物工程教研室"/>生物工程教研室 &nbsp; &nbsp;
                            	<input type="radio" name="department" value="环境工程教研室"/>环境工程教研室 &nbsp; &nbsp;
                           
                            </span>
                        </p>
                         <p>
                        	<label>导师类型</label>
                            <span class="formwrapper" >
                            	<input type="radio" checked="checked" name="tecType" value="硕士导师"/>硕士导师 &nbsp; &nbsp;
                            	<input type="radio" name="tecType"  value="博士导师"/>博士导师 &nbsp; &nbsp;
                           
                            </span>
                        </p> 
                        <p class="stdformbutton">
                        	<button type="button"     class="submit radius2">保存</button>
                            <!--<input type="button" value="click me" />-->
                        </p>
                    </form>      
        </div><!--subcontent-->
        
        
    </div><!--contentwrapper-->
</div> <!--centercontent -->

</div><!--bodywrapper-->
	</body>

</html>
