<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>集美大学 | 食品与生物工程学院</title>
<link rel="icon" href="data:;base64,=">
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.default.css')}}" >
<script type="text/javascript" src=" {{ url_for('static',filename='js/jquery-1.7.min.js')}}"></script> 
<script type="text/javascript" src=" {{ url_for('static',filename='js/jquery.slideunlock.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/index.js')}}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/custom.js')}}"></script>
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="{{ url_for('static',filename='css/style.ie9.css')}}">
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css">
<![endif]-->
<!--[if lt IE 9]>
	<script src="js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
<link rel="icon" href="data:image/ico;base64,aWNv">
</head>

<body class="loginpage">
    <div class="loginbox">
        <div class="loginboxinner">
            
            <div class="logo">
                <h1 class="logo">
                    <span style="font-size: 17px;">集美大学食品与生物工程学院</span>
                </h1>
                <span style="color:white">研究生科研成果管理系统</span>
                
            </div><!--logo-->
            
            
            <form id="loginform"  method="POST" >
                <div class="logo">
                <span class="loginchoose">
                <input type="radio" name="type" value='teacher'>&nbsp;教师&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="type" checked="checked" value='student'>&nbsp;学生
                </span>
            </div>
            <div class="nousername">
                <div class="loginmsg">用户名或密码不能为空</div>
            </div><!--nousername-->
            <div class="nocode">
                <div class="loginmsg">请拖动滑块</div>
            </div><!--nopassword-->
            <div class="nopassword">
                <div class="loginmsg">用户名或密码错误.</div>
            </div><!--nopassword-->
                <div class="username">
                    <div class="usernameinner">
                        <input type="text" name="uname" id="username" />
                    </div>
                </div>
                
                <div class="password">
                    <div class="passwordinner">
                        <input type="password" name="passwd" id="password" />
                    </div>
                </div>
                <div class="container">
                        <div id="slider">
                            <div id="slider_bg"></div>
                            <span id="label">>></span> <span id="labelTip">拖动滑块验证</span>
                        </div>
                </div> 
                <button type="button" id="loginbtn">登录</button>
                
                <div class="keep">
                   
                </div>
                
            
            </form>
            
        </div><!--loginboxinner-->
    </div><!--loginbox-->
	<br />
</body>
</html>
